// AUTH (login, register, reset)
#login-content,
#register-content,
#reset-content,
#email-reset-content {
    @extend %section;
    @include box-shadow($section-shadows);

    label {
        font-size: 1.5rem;
        color: #{$alabaster};
    }

    input {
        font-size: 1.75rem;
    }

    button {
        font-size: 1.75rem;
        background-color: #{$pear};
        color: #{$onyx-black};

        &:hover {
            background-color: #{$dark-pear};
            color: #{$alabaster};
        }
    }
}