// NAVIGATION
#login-content {
    background-color: red;

    display: grid;
    justify-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding-bottom: 50px;

}

// Styles for Calendar
@media only screen and (max-width: 760px),
(min-device-width: 802px) and (max-device-width: 1020px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    .empty {
        display: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }



    /*
Label the data
*/
    td:nth-of-type(1):before {
        content: "Sunday";
    }
    td:nth-of-type(2):before {
        content: "Monday";
    }
    td:nth-of-type(3):before {
        content: "Tuesday";
    }
    td:nth-of-type(4):before {
        content: "Wednesday";
    }
    td:nth-of-type(5):before {
        content: "Thursday";
    }
    td:nth-of-type(6):before {
        content: "Friday";
    }
    td:nth-of-type(7):before {
        content: "Saturday";
    }


}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
    body {
        width: 495px;
    }
}

@media (min-width:641px) {
    table {
        table-layout: fixed;
    }
    td {
        width: 33%;
    }
}

.row{
    margin-top: 20px;
}

.today{
    background:yellow;
}


/*****************/
/*DASHBOARD STYLE*/

@each $colorName, $colorValue in $colors {
    .bg-#{$colorName} {
        background-color: #{$colorValue};
    }

    .text-#{$colorName}{
        color: #{$colorValue};
    }
}

body {
    @extend .bg-mattBlackDark;
    @extend .text-mattGray;
}

.wrapper {
    margin-top: rem($margin-top);
    .sideMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        //margin: rem($margin-top) auto auto;
        //width: rem(200px);
        border: 1px solid red;
        transition: all ease $easeTime;
        transform: translateX(-100%);
        z-index: 2000;
    }

    .content {
        width: 100%;
        margin-left: rem(0px);
        transition: all ease $easeTime;
    }
}

@media (min-width:992px) {
    .wrapper {
        .sideMenu {
            transform: translateX(0);
        }
        .content {
            margin-left: rem(200px);
        }
        &.active {
            .sideMenu {
                width: rem(80px);
            }
            .content {
                margin-left: rem(80px);
            }
        }
    }
}
/**DASHBOARD END**/
/*****************/