body {
    background-color: #{$corral};
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body a {
        color: #F0EDE5 !important;
    }
}



/*FARVE PÅ ICONER*/
i.fab {
    color: #F0EDE5;
}

// NAVIGATION
#login-content,
#register-content,
#reset-content,
#email-reset-content {
    background-color: #{$dark-grey};
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding-bottom: 50px;

    label {
        font-size: 1.5rem;
        color: #{$white};
    }

    input {
        font-size: 1.75rem;
        color: #{$white};
        background-color: #{$black};
    }

    button {
        font-size: 1.75rem;
    }
}

// Styles for Calendar
@media only screen and (max-width: 760px),
(min-device-width: 802px) and (max-device-width: 1020px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    .empty {
        display: none;
    }


    /* Hide table headers (but not display: none;, for accessibility) */
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
        color: #{$alabaster};
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }



    /*
Label the data
*/
    td:nth-of-type(1):before {
        content: "Sunday";
    }

    td:nth-of-type(2):before {
        content: "Monday";
    }

    td:nth-of-type(3):before {
        content: "Tuesday";
    }

    td:nth-of-type(4):before {
        content: "Wednesday";
    }

    td:nth-of-type(5):before {
        content: "Thursday";
    }

    td:nth-of-type(6):before {
        content: "Friday";
    }

    td:nth-of-type(7):before {
        content: "Saturday";
    }


}

// ********************************************************************
// styling for index.blade.php 
/*
section {
    padding-top: 5%;
    padding-bottom: 5%;
}

#header {
    background-color: antiquewhite;
}

#create,
#connect {
    background-color: white;
}*/

#existing-booking {
    background-color: antiquewhite;
}


hr {
    border-top: 0.15rem solid rgb(246, 105, 94) !important;
}

.cards {
    padding-top: 4%;
}



#userEmail,
#userName,
#buttonSubmit {
    width: 33%;
}

textarea {
    border: solid 1px red;
}


ul li {
    display: inline;
}

.fa-stack,
.card-title,
.customer-title {
    color: rgb(246, 105, 94);
}

.title h1 {
    color: #F0EDE5;

}

.typewriter h2 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 4s steps(3, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 120%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: transparent
    }
}



// ********************************************************************




/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
    body {
        width: 495px;
    }
}

@media (min-width:641px) {
    table {
        table-layout: fixed;
    }

    td {
        width: 33%;
    }
}

.row {
    margin-top: 20px;
}

.today {
    background:#{$corral};
}

#calendarlayout {
    background-color: #{$cerulean};
    margin-top: 4.5rem;

    .header {
        color: #{$alabaster};
    }
}

#calendardates {
    color: #{$alabaster};
}

.calendar-title {
    color: #{$alabaster};
}


// Buttons
.btn-book {
    background-color: #{$corral};
    color: #{$alabaster};
}

.btn-book:hover {
    background-color: #{$dark-corral};
    color: #{$alabaster};
}

.btn-save {
    background-color: #{$pear};
    color: #{$onyx-black};
}

.btn-save:hover {
    background-color: #{$dark-pear};
    color: #{$alabaster};
}

.btn-back {
    background-color: #{$dusty-yellow};
    color: #{$alabaster};
}

.btn-back:hover {
    background-color: #{$hover-yellow};
    color: #{$onyx-black};
}


/*****************/
/* CONFIRMATION PAGE */
#confirmation {
    margin-top: 5rem;
}


/*****************/
/*DASHBOARD STYLE*/

.dashboard {
    background-color: #{$dark-cerulean};
    color: #{$alabaster};

    a {
        color: #{$alabaster};
    }

    li,
    .modal-content {
        color: #{$onyx-black};

    }

    .modal-header, .modal-footer {
        background-color: #{$cerulean};
        color: #{$alabaster};
    }

    .close {
        color: #{$alabaster};
    }
}

/*****************/
/* SIDEBAR */


div.content {
    padding: 1px 16px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.sidebar-collapse {
    margin-left: -250px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#page-content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#page-content.sidebar-collapse {
    width: 100%;
}

// Sidebar mediaqueries

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.sidebar-collapse {
        margin-left: 0;
    }
    #page-content {
        width: 100%;
    }
    #page-content.sidebar-collapse {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

// Sidebar user panel
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;

    .image img {
        width: 100%;
        max-width: 45px;
        height: auto;
        margin-right: 0.5rem;
    }

    p {
        color: #{$alabaster};
        font-size: .7rem;
    }

    .pull-left {
        float: left !important;
    }
}

/*****************/
/* Dashboard */
.dash-wrapper {
    background-color: #{$cerulean} !important;
    border-radius: 6px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        transition: 500ms;
    }
    &:not(hover) {
        transition: 500ms;
    }
    table, tr, th, td {
        border: none;
        color: #{$alabaster};
    }
}


/*****************/
/* ADMIN NAV */
.admin-nav .container-fluid {
    margin-top: 0;
    margin-bottom: 0;
}

/*****************/
/* BOOKING CHOICES */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
    border: black solid 1px;
    background-color: #{$corral};
}

/* This container is needed to position the front and back side */
.card-body {
    text-align: center;
}
/**DASHBOARD END**/
/*****************/


/*NEW NAVBAR STYLE*/
.navigation {
    background: #0f4c81;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
    box-shadow: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;
    /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                        inset 6px 6px 20px rgba(0, 0, 0,0.05);
    box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                0px 0px 15px 6px rgba(0,0,0,0.4);   */
     
    .navbar-brand {
        height: auto;
    }            
    .navbar-toggler { 
        border: 2px solid #F0EDE5 !important;
    }
    .navstyle .nav-link {
        color: #F0EDE5 !important;
        font-size: 1.3rem !important;
        letter-spacing: 7px !important;
        justify-content: center;
        margin: 1em;
        padding: 1em;
    }            
    
    .navstyle .nav-link:hover {
        color: #F0EDE5 !important;
        background-color: #{$dark-cerulean};
        border-radius: 5px;
    }
}

.fa-bars {
    color: #F0EDE5;
    size: 18px;
}

.navigation a img {
    width: 100%;
    height: auto;
}

/*NEW NAVBAR STYLE END*/

/*NEW BANNER STYLE*/
.container-fluid {
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;

    .banner {
        background: #0f4c81;
        padding: 1rem;
        box-shadow: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;
        /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                            inset 6px 6px 20px rgba(0, 0, 0,0.05);
        box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                    0px 0px 15px 6px rgba(0,0,0,0.4);   */
    }

    .jumbotronbanner {
        margin-bottom: 0px !important;
        color: #F0EDE5;
        background-image: url(../../public/assets/img/plannersmokey.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*NEW BANNER STYLE* END/

/*NEW 4 STEPS STYLE*/
.stepsection {
    background: #0f4c81;
    padding: 1rem;
    box-shadow: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;

    /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                        inset 6px 6px 20px rgba(0, 0, 0,0.05);
    box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                0px 0px 15px 6px rgba(0,0,0,0.4);   */

    .teamtext {
        color: #F0EDE5;
    }

    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 20px;
    }

    .frontside .stepcard {
        min-height: 280px;
        background-color: #F0EDE5;
        border-radius: 1.5em;
        border: none !important;
    }

    .frontside .stepcard .card-title {
        color: #C0D725 !important;
    }

    .frontside .stepcard .i {
        color: #363838;
        size: 5rem;
    }
    .frontside .stepcard .card-body img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}
/*NEW 4 STEPS STYLE END*/

/*FAQ SECTION STYLE*/
.sectionFAQ {
    background: #0f4c81;
    border-radius: 100px;
    padding: 1rem;
    box-shadow: 0px 0px 10px 4px #212529,
     0px 0px 10px 4px #212529;
    /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                        inset 6px 6px 20px rgba(0, 0, 0,0.05);
    box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                0px 0px 15px 6px rgba(0,0,0,0.4);   */
}
/*FAQ SECTION STYLE END*/

/*ABOUT SECTION STYLE*/

.teamsection {
    background: #0f4c81;
    border-radius: 100px;
    padding: 1rem;
    box-shadow: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;

    /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                        inset 6px 6px 20px rgba(0, 0, 0,0.05);
    box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                0px 0px 15px 6px rgba(0,0,0,0.4);   */
}
.card .frontside {
    border-radius: 20% !important;
    border: none !important;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 20px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
    border-radius: 20%;
}

.backside .card a {
    font-size: 18px;
    color: #C0D725 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #C0D725 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.list-inline-item i.fab {
    color: #363838;
}

/*ABOUT SECTION STYLE END*/

/*NEW FOOTER STYLE*/
.footernav {
    background: #0f4c81;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
    box-shadow: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;

    /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                        inset 6px 6px 20px rgba(0, 0, 0,0.05);
    box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                0px 0px 15px 6px rgba(0,0,0,0.4);   */
    
    .footer-copyright {
        color: #F0EDE5;
        font-size: 12px;
    }

    .footmenu h4 a {
        color: #F0EDE5;
    }

    .footer-copyright a {
        color: #F0EDE5;
        text-decoration: none; 
    }

    .footer-copyright a:hover {
        color: #363838;
    }
}

/*NEW FOOTER STYLE END*/
