// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$easeTime: 0.25s;
$margin-top: 56px;


$colors: (
    "mattBlackLight": "#303337",
    "mattBlackDark": "#212121",
    "mattGray": "#878d8d",
    "mattRed": "#ec6271"
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Dashboard colours
$dark-grey: #1F1F1F;
$white: #fff;
$black: #111;
