// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$easeTime: 0.25s;
$margin-top: 56px;


$colors: ("mattBlackLight": "#303337",
    "mattBlackDark": "#212121",
    "mattGray": "#878d8d",
    "mattRed": "#ec6271"
);


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
// $red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Dashboard colours
$dark-grey: #212529;
$white: #fff;
$black: #1F1F1F;

// Dashboard sidebar
$dusty-black: #252a30;
$accent: #1a2226;
$accent-hover: #1c2529;

// Booking calendar colours
$cerulean: #0F4C81;
$dark-cerulean: #002554;
$corral: #F26B5B;
$dark-corral: #BA3A31;
$alabaster: #F0EDE5;
$onyx-black: #363838;
$pear: #C0D725;
$dark-pear: rgb(162, 182, 30);

// Buttons
$dusty-yellow: #017678;
$hover-yellow: #02c4c7;
