$test-bg: red;
$test-text: green;

/*****************/
/*DASHBOARD STYLE*/
$easeTime: 0.25s;
$margin-top: 56px;

$colors: (
    "mattBlackLight": "#303337",
    "mattBlackDark": "#212121",
    "mattGray": "#878d8d",
    "mattRed": "#ec6271"
);

/**DASHBOARD END**/
/*****************/
