/* BANNER */
.container-fluid {
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;

    .banner {
        background: #{$cerulean};
        padding: 1rem;
        @include box-shadow($banner-shadows);
    }

    .jumbotronbanner {
        @extend %jumbotronbanner;
        background-image: url(../../public/assets/img/plannersmokey.jpeg);
    }
}