// Buttons
.btn-book {
    background-color: #{$corral};
    color: #{$alabaster};
    
    &:hover {
        background-color: #{$dark-corral};
        color: #{$alabaster};
    }
}

.btn-save {
    background-color: #{$pear};
    color: #{$onyx-black};
    
    &:hover {
        background-color: #{$dark-pear};
        color: #{$alabaster};
    }
}

.btn-back {
    background-color: #{$dusty-yellow};
    color: #{$alabaster};
    
    &:hover {
        background-color: #{$hover-yellow};
        color: #{$onyx-black};
    }
}