/* 4 STEPS STYLE */
.stepsection {
    background: #{$cerulean};
    padding: 1rem;
    @include box-shadow($section-shadows);

    .teamtext {
        color: #{$alabaster};
    }

    .frontside {
        position: relative;
        @include transform(rotateY(0deg));
        z-index: 2;
        margin-bottom: 20px;
    }

    .frontside .stepcard {
        min-height: 280px;
        background-color: #{$alabaster};
        @include rounded-corner(1.5em);
        border: none !important;
    }

    .frontside .stepcard .card-title {
        color: #{$pear} !important;
    }

    .frontside .stepcard .i {
        color: #{$onyx-black};
        size: 5rem;
    }
    .frontside .stepcard .card-body img {
        width: 120px;
        height: 120px;
        @include rounded-corner(50%);
    }
}