@import url(https://fonts.googleapis.com/css?family=Nunito);#login-content,
#register-content,
#reset-content,
#email-reset-content {
  background-color: #212529;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding-bottom: 50px;
}

#login-content label,
#register-content label,
#reset-content label,
#email-reset-content label {
  font-size: 1.5rem;
  color: #fff;
}

#login-content input,
#register-content input,
#reset-content input,
#email-reset-content input {
  font-size: 1.75rem;
  color: #fff;
  background-color: #1F1F1F;
}

#login-content button,
#register-content button,
#reset-content button,
#email-reset-content button {
  font-size: 1.75rem;
}

@media only screen and (max-width: 760px), (min-device-width: 802px) and (max-device-width: 1020px) {
  /* Force table to not be like tables anymore */

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .empty {
    display: none;
  }

  /* Hide table headers (but not display: none;, for accessibility) */

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
    color: whitesmoke;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  /*
  Label the data
  */

  td:nth-of-type(1):before {
    content: "Sunday";
  }

  td:nth-of-type(2):before {
    content: "Monday";
  }

  td:nth-of-type(3):before {
    content: "Tuesday";
  }

  td:nth-of-type(4):before {
    content: "Wednesday";
  }

  td:nth-of-type(5):before {
    content: "Thursday";
  }

  td:nth-of-type(6):before {
    content: "Friday";
  }

  td:nth-of-type(7):before {
    content: "Saturday";
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
  body {
    width: 495px;
  }
}

@media (min-width: 641px) {
  table {
    table-layout: fixed;
  }

  td {
    width: 33%;
  }
}

.row {
  margin-top: 20px;
}

.today {
  background: yellow;
}

#calendarlayout .header {
  color: whitesmoke;
}

#calendardates {
  color: whitesmoke;
}

/*****************/

/*DASHBOARD STYLE*/

.bg-mattBlackLight {
  background-color: #303337;
}

.text-mattBlackLight {
  color: #303337;
}

.bg-mattBlackDark,
.nav-link:hover,
.nav-link.Active,
body {
  background-color: #212121;
}

.text-mattBlackDark {
  color: #212121;
}

.bg-mattGray {
  background-color: #878d8d;
}

.text-mattGray,
.nav-link .text,
.nav-link .icon,
body {
  color: #878d8d;
}

.bg-mattRed {
  background-color: #ec6271;
}

.text-mattRed,
.nav-link:hover .icon,
.nav-link:hover .text,
.nav-link.Active .icon,
.nav-link.Active .text {
  color: #ec6271;
}

.wrapper {
  margin-top: rem(56px);
}

.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border: 1px solid red;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2000;
}

.wrapper .content {
  width: 100%;
  margin-left: rem(0px);
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

@media (min-width: 992px) {
  .wrapper .sideMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .wrapper .content {
    margin-left: rem(200px);
  }

  .wrapper.active .sideMenu {
    width: rem(80px);
  }

  .wrapper.active .sideMenu .nav-link {
    text-align: center;
  }

  .wrapper.active .sideMenu .nav-link .icon {
    margin-right: 0;
  }

  .wrapper.active .sideMenu .nav-link .text {
    display: none;
  }

  .wrapper.active .content {
    margin-left: rem(80px);
  }
}

.nav-link {
  display: block;
  white-space: nowrap;
}

.nav-link .icon {
  margin-right: rem(4px);
  font-size: rem 30px;
  vertical-align: middle;
  height: rem(32px);
  width: rem() 32px;
  border: 2px solid red;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.nav-link .text {
  font-size: rem(14px);
}

/**DASHBOARD END**/

/*****************/

