/* FOOTER */
.footernav {
    @extend %section;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
    @include box-shadow ($section-shadows);
    
    .footer-copyright {
        color: #{$alabaster};
        font-size: 12px;
    }

    .footmenu h4 a {
        color: #{$alabaster};
    }

    .footer-copyright a {
        color: #{$alabaster};
        text-decoration: none; 
        
        &:hover {
            color: #{$onyx-black};
        }
    }

}