/* MAIN NAVIGATION */
.navigation {
    @extend %section;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
    @include box-shadow ($section-shadows);
     
    .navbar-brand {
        height: auto;
    }            
    .navbar-toggler { 
        border: 2px solid #{$alabaster} !important;
    }
    .navstyle .nav-link {
        color: #{$alabaster} !important;
        font-size: 1.3rem !important;
        letter-spacing: 7px !important;
        justify-content: center;
        margin: 1em;
        padding: 1em;
    }            
    
    .navstyle .nav-link:hover {
        color: #{$alabaster} !important;
        background-color: #{$dark-cerulean};
        @include rounded-corner(5px);
    }
}

.fa-bars {
    color: #{$alabaster};
    size: 18px;
}

.navigation a img {
    width: 100%;
    height: auto;
}