/* MAIN NAVIGATION */
.navigation {
    background: #0f4c81;
    margin-top: 1rem;
    margin-bottom: 2rem !important;
    box-shadow: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;
    /*box-shadow: inset 0px 0px 10px 10px rgba(230, 230, 230,0.9),
                        inset 6px 6px 20px rgba(0, 0, 0,0.05);
    box-shadow: 0px 0px 20px 10px rgba(230,230,230,1),
                0px 0px 15px 6px rgba(0,0,0,0.4);   */
     
    .navbar-brand {
        height: auto;
    }            
    .navbar-toggler { 
        border: 2px solid #F0EDE5 !important;
    }
    .navstyle .nav-link {
        color: #F0EDE5 !important;
        font-size: 1.3rem !important;
        letter-spacing: 7px !important;
        justify-content: center;
        margin: 1em;
        padding: 1em;
    }            
    
    .navstyle .nav-link:hover {
        color: #F0EDE5 !important;
        background-color: #{$dark-cerulean};
        @include rounded-corner(5px);
    }
}

.fa-bars {
    color: #F0EDE5;
    size: 18px;
}

.navigation a img {
    width: 100%;
    height: auto;
}