/*****************/
/* SIDEBAR */
div.content {
    padding: 1px 16px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.sidebar-collapse {
    margin-left: -250px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#page-content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#page-content.sidebar-collapse {
    width: 100%;
}

// Sidebar user panel
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    
    .image img {
        width: 100%;
        max-width: 45px;
        height: auto;
        margin-right: 0.5rem;
    }
    
    p {
        color: #{$alabaster};
        font-size: .7rem;
    }
    
    .pull-left {
        float: left !important;
    }
}

// Sidebar mediaqueries

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.sidebar-collapse {
        margin-left: 0;
    }
    #page-content {
        width: 100%;
    }
    #page-content.sidebar-collapse {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}