%section {
    background: #{$cerulean};
    padding: 1rem;
}

%jumbotronbanner {
    margin-bottom: 0px !important;
    color: #{$alabaster};
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}