// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

// Dashboard colours
$dark-grey: #212529;
$white: #fff;
$black: #1F1F1F;

// Dashboard sidebar
$dusty-black: #252a30;
$accent: #1a2226;
$accent-hover: #1c2529;

// Booking calendar colours
$cerulean: #0F4C81;
$dark-cerulean: #002554;
$corral: #F26B5B;
$dark-corral: #BA3A31;
$alabaster: #F0EDE5;
$onyx-black: #363838;
$pear: #C0D725;
$dark-pear: rgb(162, 182, 30);

// Buttons
$dusty-yellow: #017678;
$hover-yellow: #02c4c7;

// Box shadow
$section-shadows: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;
$faq-shadows: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;
$new-booking-shadows: 3px 3px 7px rgba(0, 0, 0, 0.1);
$hover-new-booking-shadows: 3px 3px 10px rgba(0, 0, 0, 0.3);
$banner-shadows: 5px 10px 10px 0px #212529, 0px 0px 0px 0px #212529;